html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 1000px;
    border: 1px solid black;
}
h1 {
    font-size: 30px;
    margin: 50px 0px 20px;
}
h2 {
    font-size: 20px;
    margin: 20px 0px 10px;
    color: maroon;
}
h3 {
    margin: 45px;
    font-size: 15px;
    margin: 10px 0px 5px;
    color: black;
}
#sidebar > a {
    margin: 10px;
    color: darkblue;
}
#sidebar > a:hover {
    color: darkred;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 30px;
    border-radius: 15px;
    background-color: aliceblue;
}
.submission {
    padding: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 50px 0px ;
    width: 150px;
    color:whitesmoke;
    background-color: rgb(120,150,255);
    border: 1px solid black;
    border-radius: 7px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.submission:hover {
    transition-duration: 0.5s;
    background-color: rgb(100,130,255);
    cursor: pointer;
}
@media (min-width: 901px) {
    #sidebar {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        right: 20px;
        top: 10%;
    }
    .field {
        margin: 30px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .textbox {
        position: absolute;
        left: 30%;
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .normal {
        position: relative;
        margin-top:10px; margin-bottom: 10px;
        padding: 10px;
        border: 1px solid black;
        border-radius: 36px;
        width: 100%;
        margin-left: 0px;
    }
    
    .numlock {
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: 0px;
    }
    .num {
        margin: 10px 0px 10px 0px;
        padding: 10px;
        border: 1px solid black;
        border-radius: 36px;
    }
    
}
@media (max-width: 900px) {
    #sidebar {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transition-duration: 0.5s;
    }
    form {
        padding: 0px;
    }
    .field {
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .textbox {
        width: 100%;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0px;
    }
    
    .normal {
        position: relative;
        margin-top:10px; margin-bottom: 10px;
        padding: 10px;
        border: 1px solid black;
        border-radius: 7px;
        margin-left: 0px;
    }
    .numlock {
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: 0px;
    }
    .num {
        margin: 10px 0px 10px 0px;
        padding: 10px;
        border: 1px solid black;
        border-radius: 7px;
    }
}
